@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300&family=IBM+Plex+Sans:wght@300;400;500;600&family=Montserrat:wght@100;200;400;500;900&family=Source+Sans+Pro:wght@400;700&display=swap');

/* #343536 dark gray */

:root {
  --border-color: #343536;
}

a{
  color: black;
  text-decoration: none;
}

body{
  font-family: "IBM Plex Sans", sans-serif !important;
}

*{
  padding: 0; 
  margin: 0;
  font-family: 'IBM Plex Sans' sans-serif !important;
  box-sizing: border-box;
}

.header-wrapper{
  position: sticky;
  top:0;
  border-bottom: 1px solid var(--border-color);
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  height: 60px;
  z-index: 10;
}

.main-container{
  display: flex;
 justify-content: center;
  /* position:relative; */
  /* flex-direction: column; */
  /* padding: 20px; */
  width: 100vw;
  min-height: 100vh;
  /* height: 900vh; */
  background-color: rgb(226,232,240);
}

.post-creation-container{
  height: 100px;
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
}

.post_img{
  /* margin: 0 auto; */
  align-items: center;
  height: 600px;
}

.votes-wrapper-post{
  /* height: 80px;  */
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 100% !important;
  align-items: center;
  
  /* margin-right: 10px; */
}

.votes-wrapper-post {

}

.votes-wrapper-post > img{
  height: 30px;

}

.votes-wrapper-comment{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}

h3{
  font-weight: 400;
}

.comment-section{
  display: flex;
  /* justify-content: center; */
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-items: center; */
  word-wrap: break-word;
  background-color: white;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 10px;
  /* border-top: 2px solid #000; */
  padding-bottom: 50px;
  padding-right: 30px;
  /* width: 700px; */
  /* padding-right: 50px; */
  max-width: 700px;
  min-width: 250px;
  border: #000 solid 1px;
}

.comment-tree{
  padding-top: 30px;
  border-top: #000 solid 2px;
}

.comment-box{
  padding: 8px 16px;
  min-height: 140px;
}

.comment-box ol, .comment-box ul{
  margin-left: 25px;
}

.trix-button-row{
  position: relative;
  z-index: 0;
  justify-content: left !important;
  align-items: center !important;
  align-content: center ;
  /* background-color: #000; */
  background-image: #000;
}

.trix-button{
  border: none !important;
}

/* .toolbar-comment-box{
  width: 200px;
} */
.comment-toolbox-wrapper{
  display: flex;
}

.md{
  flex-wrap: wrap;
  /* max-width: 600px; */
  padding-left: 10px;
  text-align: justify;
}

.md p {
  margin-bottom: 10px;
}

.md a{
  /* max-width: 600px; */
  color: rgb(128,90,212);
  text-decoration: overline;
}
ul, ol{
  margin-left: 20px;
}



.comment{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
  /* max-width: 650px; */
  /* position: relative; */
  padding-top: 5px !important;
  padding-bottom: 5px;
  /* wi */
  /* border-left: 2px solid black; */
}

.comment blockquote{
  
    padding: 15px;
    background-color: rgb(226,232,240);
    border-left: 6px solid #343536;
}

.vote-amount{
  font-size: 14px;
  font-weight: 600;
}
.comment h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  /* margin-left: 5px; */

  /* font-family: 'IBM Plex Sans' sans-serif !important; */
  font-weight: 400;
}

.comment-author{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}
.comment-profile-pic{
  /* margin-right: 10px; */
  border-radius: 50px;
  background-color: #343536;
  height: 28px;
}

.side-profile-wrapper{
  position: relative;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  
  /* align-items: center; */
  /* justify-content: space-around; */
}

.stroke{
  cursor: pointer;
  width: 1px;
  margin-bottom: 5px;
  background-color: black;
  left: 50%;
  /* top:50%; */
  transform: translate(-50%);
  position: absolute;
}

.stroke :hover{
  /* background-color: black; */
}
 
.post-img{
  min-width: 200px;
  object-fit: fill;
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  display: block;
  /* background-color: #000; */
}

.video-fill-bg{
  background-color: #000;
}

.post-media-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  /* height: 600px; */
  /* width: 100%; */
}

.video-react-video{
  max-height: 500px !important;
}


.comment-options{
  height: 40px;
  display: flex;
  align-items: center;
  /* padding: 4px; */
  /* justify-content: ; */
}

.comment-options >{
  padding: 4px;
}

.comment-options >:hover{
  border-radius: 5px;
}

.comment-options h3{
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}

.comment a{
  text-decoration:underline;
}

.upvote h3{
  margin-left: 0px !important;
}

.comment-wrapper{
  display: flex;
  
}

.filter-wrapper{
  font-family: 'IBM Plex Sans', sans-serif !important;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 60px;
  height: 50px;
  width: 100%;
  font-size: 13px;
  align-items: center;
  /* margin-top: 40px; */
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
  /* margin: 10px; */
  /* margin-top: 20px; */
  background-color: white;
  
  border: 1px solid var(--border-color);
  border-top: none;
}

/* .filter-wrapper h3{
  fontsi
} */

.filter-wrapper a {
  font-family: 'IBM Plex Sans' sans-serif;
  color: black;
  margin-left: 13px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
  transition: 0.1s ease-in;
}



.filter-wrapper a:hover{
  font-family: 'IBM Plex Sans' sans-serif;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.news-container{
  /* position: relative;; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 60vw; */
  height: 100%;
  /* overflow: scroll; */
}

.card-list-container{
  display: flex;
  position: relative;
  max-width: 700px;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  /* width: 100%; */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.skeleton-format{
  color: rgb(255,255,255, 0.2);
  background-color: rgb(153 153 153 / 20%);
}

.icons-section{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 200px;
}

.card-wrapper{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  /* height: 90%; */
  /* height: 70%; */
  /* width: 80%; */
  border-radius: 5px;
}

.post-wrapper{
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 100%;
  /* border: #000 solid 1px; */
  /* height: 90%; */
  /* height: 70%; */
  /* width: 80%; */
  border-radius: 5px;
}

.post-body{
  font-size: 14px !important;
  mask-image: linear-gradient(180deg,#000 60%,transparent)
}

.post-body h3{
  font-size: 14px !important;
}

.post-body a{
  color: rgb(128,90,212);
  text-decoration: underline;
}


.logo-text-wrapper{
  width: 170px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  display: flex;
  align-items: center;
}

.logo-text-wrapper h2{
  margin-left: 2px;
  font-weight: 400;
  color: lightgray
}

.side-container{
  position: sticky;
  top: 80px;
  width: 20vw;
  min-width: 250px;
  height: 70vh;
  
  /* border-right: 1px solid #e6e9ed;
  border-bottom: 1px solid #e6e9ed; */
  background-color: white;
  border-top: none;
  border-left: none;
  margin: 20px;
  
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-top: 0px;
}

.left{
  border: 1px solid var(--border-color);
  
  margin: 20px;
  margin-top: 0px;
}

.news-card-container{
  position: relative;
  z-index: 0;
  display: flex;
  /* position: sticky;
  top: 0; */
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  max-width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 700px;
  min-width: 250px;

  /* width: 60vw; */
}

.news-card-upvote-section{
  /* font-family: 'Encode Sans', sans-serif; */
  position: relative;
  z-index: 1;
  width: 50px;
  height: 100%;
  background-color: rgb(248,249,250);
  border-radius: 5px;
}

.upvote .downvote{
  position: relative;
  z-index: 10;
}

.topic-prof-img{
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 5px;
  background-color: #343536;
}

.topic-name{
  font-weight: bold !important;
  font-size: 13px ;
}

.topic-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  
}

.select-component{
  width: 200px;
  padding-left: 10px;
}

.comment-box-wrapper{
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  padding: inherit;
  max-width: 500px;
}

.news-card-content p{
  font-size: 15px;
  font-weight: 400;
  /* min-width: 220px; */
}


.news-card-content{
  /* max-width: 700px; */
  /* min-width: 250px; */
  font-family: 'IBM Plex Sans', sans-serif;;
  padding: 10px;
  width: 100%;
  /* min-width: 250px; */
}


.news-card-container:hover{
  border-color: rgb(128,90,212);
}

.article-content{
  display: flex !important;
  flex-direction: row;
  text-align: justify;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  margin-top: 20px ;
  width: 100%;
  height: auto;
  padding: 0px !important;
  min-width: 340px;
  border: #000 solid 1px;
  /* height: 100%; */
  /* padding: 20px; */
}
.single-post{
  
  /* max-width: 700px !important; 
  min-width: 340px !important; */
}

.article-page-upvote-section{
  width: 80px;
  min-width: 40px;
  height: auto;
}

.content-wrapper{
  display: inline-block;
  /* position: absolute;3 */
  /* flex-direction: column; */
  padding: 20px;
  width: 85%;
  min-width: 340px;
  padding-left: 0px;

}

.article-body{
  margin-top: 10px;
  font-size: 13px !important;
  line-height: 1.5;
}

.article-title{
  margin-bottom: 20px;
  font-size: 18px !important;
  font-weight: 500;
  /* font-size: 24px; */
  /* min-width: 220px; */
}



.news-card-creation-date{
  display: flex;
  text-align: center;
  align-items: center;
  padding: 2px;
  color: rgb(248,249,250);
  background-color: black;
  border-radius: 2px;
  width: 112px;
  margin-left: 10px;
}

.news-card-header{
  display: flex;
  align-items: center;
  
  /* justify-content: space-between; */
  min-width: 340px;
  max-width: 400px;
  height: 15px;
  font-size: 12px;
  margin-bottom: 5px;
}

.news-card-topic-field{
  font-size: 12px;
}

.header-wrapper h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: rgb(128,90,212);
  font-size: 28px;
}

.btn-wrapper{
  height: 45px;
  width: 20vw;
  max-width: 200px;
  min-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper button{
  height: 90%;
  /* width: 45%; */
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.btn-signup{
  background-color: white;
  border: 2px solid rgb(128,90,212); 
  color:rgb(128,90,212);
}

.btn-login{
 
  background-color: rgb(128,90,212);
  border: none;
  color: white;
}



.search-bar{
  background-color: rgb(237,242,247);
  
  border: none;
  padding: 3px;
  padding-left: 20px;
  border-radius: 5px;
  height: 40px;
  width: 50vw;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 280px;
  border: 1px solid var(--border-color);
}
@media (max-width: 420px) {
  .post-img{
    /* max-height: 300px;
    max-width: 300px; */
  }
}

@media (max-width: 550px) {
  .header-wrapper{
    display: none;
  }
  .btn-wrapper{
    display: none;
  }

  .news-card-container{
    /* width: 269px; */
  }
  .news-card-header h5{
    margin-right: 10px !important;
    font-size: 11px !important;
  }
  
  .news-container{
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
  }

  /* .news-card-container{
    width: 300px ;
  } */

  /* .news-card-container{
    max-width: 450px;
    min-width: 260px;
  } */
}

@media (max-width: 840px) {
  .btn-wrapper{
    display: none;
  }

  .card-wrapper{

  }

  .news-card-container{
    width: 97vw;
    flex-direction: row;
  }

  /* .news-card-container{
    max-width: 450px;
    min-width: 260px;
  } */
}